<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Página Inicial - Ubá Leitor</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">  <!-- Adicionando o CSS -->
</head>
<body>
    <div class="container mt-5">
        <h1>Livros Disponíveis</h1>
        <button class="btn btn-primary" id="addBookBtn">Adicionar Novo Anúncio</button>
        <div id="books-list" class="mt-4 row">
            {% for book in books %}
            <div class="col-md-3 book-item" onclick="showBookDetails({
                title: '{{ book.title }}',
                author: '{{ book.author }}',
                description: '{{ book.description }}',
                cover_url: '{{ book.cover_url }}',
                whatsapp: '{{ book.whatsapp }}'
            })">
                <img src="{{ book.cover_url }}" alt="Capa do Livro" class="book-cover">
                <div>
                    <h5>{{ book.title }}</h5>
                    <p>Autor: {{ book.author }}</p>
                    <span class="badge badge-{{ 'success' if book.book_type == 'doacao' else 'primary' }}">
                        {{ 'Doação' if book.book_type == 'doacao' else 'Troca' }}
                    </span>
                    {% if book.user_id == current_user.id %}
                    <button class="btn btn-danger btn-sm delete-btn" onclick="confirmDelete('{{ book.book_id }}', event)">
                        🗑️
                    </button>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="modal fade" id="bookDetailsModal" tabindex="-1" role="dialog" aria-labelledby="bookDetailsLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document"> <!-- Modal grande -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="bookDetailsLabel">Detalhes do Livro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex">
                    <div class="mr-4">
                        <img id="modal-book-cover" src="" alt="Capa do Livro" class="img-fluid" style="max-width: 150px; max-height: 225px; object-fit: cover;">
                    </div>
                    <div>
                        <h5 id="modal-book-title" class="font-weight-bold"></h5>
                        <p id="modal-book-author" class="text-muted"></p>
                        <p id="modal-book-description" class="text-justify"></p>
                        <a id="modal-whatsapp-link" href="#" target="_blank" class="btn btn-success">Contactar pelo WhatsApp</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="modal fade" id="addBookModal" tabindex="-1" role="dialog" aria-labelledby="addBookLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document"> <!-- Modal grande -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addBookLabel">Adicionar Novo Anúncio</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addBookForm">
                        <div class="form-group">
                            <label for="bookTitle">Título do Livro</label>
                            <input type="text" class="form-control" id="bookTitle" name="bookTitle" required autocomplete="off">
                            <div id="autocomplete-list" class="autocomplete-list"></div>
                        </div>
                        <div class="form-group">
                            <label for="bookAuthor">Autor</label>
                            <input type="text" class="form-control" id="bookAuthor" name="bookAuthor" required>
                        </div>
                        <div class="form-group">
                            <label for="whatsapp">Número do WhatsApp</label>
                            <input type="text" class="form-control" id="whatsapp" name="whatsapp" placeholder="Telefone com DDD (Apenas números)" required>
                        </div>
                        <div class="form-group">
                            <label for="bookType">Tipo de Anúncio</label>
                            <select class="form-control" id="bookType" name="bookType" required>
                                <option value="doacao">Doação</option>
                                <option value="troca">Apenas Troca</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="coverUrl" name="coverUrl">
                        </div>
                        <div class="form-group">
                            <label for="description">Descrição</label>
                            <textarea class="form-control" id="description" name="description" rows="3" placeholder="Descrição do livro"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Pré-visualização da Capa</label>
                            <div id="coverPreview" class="text-center">
                                <img id="previewCover" src="https://via.placeholder.com/150x225" alt="Pré-visualização da Capa" class="img-fluid" style="max-width: 150px; max-height: 225px; object-fit: cover; display: none;">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Confirmar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>  <!-- Adicionando o JavaScript -->
</body>
</html>
